.stack {
  display: flex;
  flex-direction: column-reverse;

  height: 100%;
  align-items: flex-end;

  padding: 0.5em;
  font-family: monospace;
  background-color: #171123; // 0D0B41
  border-radius: 0.25em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
  line-height: 0;

  scrollbar-color: #ddd #171123 !important;
  scrollbar-width: thin !important;

  // Item in Stack
  > span {
    display: block;
    line-height: 1.5rem;
    color: #504d5a;
    width: 100%;

    // Stupid hack to get the margins working
    > span {
      margin-right: 0.5em;
    }

    &[type="pop"] {
      color: #e94f37;
    }

    &[type="push"] {
      color: #7ee081;
    }
  }
}

.script {
  font-family: monospace;
  background-color: #171123;
  padding: 0.5em 0 0.5em 0;
  border-radius: 0.25em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
  line-height: 0;

  scrollbar-color: #ddd #171123 !important;
  scrollbar-width: thin !important;

  > span {
    display: block;
    line-height: 1.5rem;


    // ### Special Highlighting ###
    &[type="old"] {
      color: #504d5a;

      > span {
        color: #504d5a !important;
      }
    }

    &[type="error"] {
      background-color: #E5625E;
      color: white !important;

      > span {
        color: white !important;
      }
    }

    &[type="current"] {
      background-color: #4F759B;
    }

    // ### Default Highlighting ###

    // Highlight the Line Number
    > span:first-child {
      width: 5ch;
      text-align: right;
      color: #62a87c;
      display: inline-block;
      border-right: 1px solid #ddd;
      // Spacing around vertical line
      padding: 0 1ch 0 0ch;
      margin-right: 1ch;
    }

    // Highlight OP_CODE
    > span:nth-child(2) {
      color: #7ee081;
    }
    
    // Highlight the parameters
    > span:not(:nth-child(1)):not(:nth-child(2)) {
      color: #c3f3c0;
      margin-right: 0.5em;
    }
  }
}
