// Gracefully borrowed from:
// https://speckyboy.com/snippets-beautiful-syntax-highlighting/

.body {
  position: relative;
  color: #c3f3c0;
}

.code {
  font-family: monospace;
  background-color: #171123;
  padding: 0.5em;
  border-radius: 0.25em 0.25em 0em 0em;
  box-shadow: 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.45);
  line-height: 0;

  scrollbar-color: #ddd #171123 !important;
  scrollbar-width: thin !important;

  .line {
    display: block;
    line-height: 1.5rem;
    color: #7ee081;
    padding-right: 0.5em;

    .lineNumber {
      color: #62a87c;
      display: inline-block;
      border-right: 1px solid #ddd;
      padding: 0 0.5em;
      margin-right: 0.5em;
    }

    .data {
      color: #c3f3c0;
      padding-right: 1em;
    }
  }

  .lineHeader {
    color: #e94f37;
  }
}

.footer {
  padding-bottom: 3.5em;

  background-color: #171123;

  > button {
    position: absolute;
    right: 0;

    margin: 0.5em 1em 0em 1em;
  }
}
