@import "bootstrap";

// Clickable container
.title {
  // Disable normal link behaviours
  color: black;
  &:hover,&:link,&:visited,&:active {
    color: black;
    text-decoration: none;
  }

  // Title
  > h4 {
    display: flex;
    margin: 0;

    // Back Arrow
    > i {
      margin-right: 0.5em;
    }
  }
}